<!-- Load Mb Coming Soon Timer -->
<script src="/js/mb-comingsoon/jquery.mb-comingsoon.js"></script>
<script type="text/javascript">
  $(function () {
  var $section = $('section');
  $(window).on("resize", function () {
  var dif = Math.max($(window).height() - $section.height(), 0);
  var padding = Math.floor(dif / 2) + 'px';
  $section.css({ 'padding-top': padding, 'padding-bottom': padding });
  }).trigger("resize");
  $('#myCounter').mbComingsoon({ expiryDate: new Date(2015, 5, 3, 8, 0), speed:100 });
  setTimeout(function () {
  $(window).resize();
  }, 200);
  });
</script>
